# Docker
.git
.gitignore
.env
.env.*
docker-compose.yml
docker/
*.md

# Backend
backend/vendor/
backend/storage/
backend/bootstrap/cache/
backend/.env
backend/.env.*
backend/public/build/
backend/public/hot

# Admin
admin/vendor/
admin/storage/
admin/bootstrap/cache/
admin/.env
admin/.env.*
admin/public/build/
admin/public/hot

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
